.link {
  text-decoration: none;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-size: 14px;

  &:hover {
    background-color: #181717;
  }

  &__img {
    height: 60px;
    margin-right: 20px;
  }
  &__title {
    font-size: 14px;
  }
}