@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');



:root {
  --swiper-navigation-color: #f6a32d;
  --swiper-pagination-color: #f6a32d;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $backgroundColor;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

